{
    "packagePath": "scormcloud-api-v2-client-php",
    "srcBasePath": "src",
    "additionalProperties": {
        "excludeTests": true
    },
    "artifactVersion": "1.0.0-beta",
    "invokerPackage": "RusticiSoftware\\Cloud\\V2",
    "apiPackage": "RusticiSoftware\\Cloud\\V2\\Api",
    "modelPackage": "RusticiSoftware\\Cloud\\V2\\Model",
    "gitUserId": "RusticiSoftware",
    "gitRepoId": "scormcloud-api-v2-client-php"
}
